[[adv]]
enabled = true
interval = 100

[adv.mirror]

[[adv]]
enabled = false
interval = 100

[adv.ibeacon]
major = 1238
minor = 7
uuid = "B9407F30-F5F8-466E-AFF9-25556B57FE6D"

[[adv]]
enabled = false
interval = 100

[adv.eddystone_url]
url = "https://estimote.com"

[[adv]]
enabled = true

[adv.services]
name = "Mirror"

[[adv]]
enabled = true
interval = 100

[adv.location]

[build]
id = "staging-177"
timestamp = "Wed Mar  8 06:00:04 UTC 2017"
version = "2017.03.08-06.00.07"

[locales]
country = "us"
language = "en"

[screen]
resolution = "1280x720"
rotation = "normal"

[sensors]
[sensors.item1]
enabled = false
ids = ["unknown"]

[sensors.item2]
enabled = false
ids = ["unknown"]

[sensors.item3]
enabled = false
ids = ["unknown"]

[sensors.item4]
enabled = false
ids = ["unknown"]

[sensors.item5]
enabled = false
ids = ["unknown"]

[sensors.item6]
enabled = false
ids = ["unknown"]

[sensors_monitoring]
algorithm = "stop_lag"
battery_monitoring = true
battery_warn_level = 20
sensors_presence = true
show_sensor_data = false

[templates]
default = "distance"

[time]
timezone = "UTC"

[wifi]
enabled = false
password = "unknown"
ssid = "Estimote"
