<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="jquery-3.1.1.min.js"></script>
    <script language="JavaScript">
        if (typeof mirror != 'undefined') {
            mirror.init();
            mirror.listen(Mirror.Events.USER_DATA, {
                ondata: function(ev) {
                    if (ev.data.header) {
                        $("#header").text(ev.data.header);
                    }
                    if (ev.data.content) {
                        $("#content").text(ev.data.content);
                    }
                    if (ev.data.calendar) {
                        $("#calendar").html("<img id=\"cal_img\" src=\"calendar.png\" />&nbsp;<div id=\"cal_text\">" + ev.data.calendar + "</div>");
                    }
                    $(document.body).css('background-color', ev.data.bgcolor ? ev.data.bgcolor : "#282363");
                    if (ev.data.logo) {
                      $('#logo').html('<img src="data:image/jpeg;base64,' + ev.data.logo + '" />');
                    }
                    if (ev.data.avatar) {
                      $('#avatar').html('<img src="avatars/' + ev.data.avatar + '.png" />');
                    }
                },
                ondisconnect: function(ev) {
                    mirror.selectTemplate(null)
                }
            })
        }
    </script>
</head>

<body>
    <div id="main_frame">
        <div id="header"></div>
        <div id="content"></div>
        <div id="calendar"></div>
    </div>
    <div id="logo"><img src="logo.png"/></div>
    <div id="avatar"><img src="avatars/avatar_1.png"/></div>
</body>

</html>
