.titulo
{
    text-align: center;
}
table
{
    text-align: center;
}

body{
  font-family: monospace;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;  
  width: 25em;
  background-color:  blue;
  color: blue;
}

th{
    font-size: 60px;
}

html{
    background-image: url("http://img09.deviantart.net/2b44/i/2012/043/e/2/ao_no_exorcist_wallpaper_by_sorykuchiki-d4pix62.jpg");
}